## 01. String

In [2]:
#1. Check if a given string is a palindrome.

text = (input())
text = text.lower()
text1 = text[::-1]
if text == text1:
    print("yes")
else:
    print("no")

 12321

yes

In [2]:
#2. Count the number of vowels in a string and store the result in a dictionary.

s = 'education'
vowel = "aeiou"
count = {v:s.count(v) for v in vowel}
print(count)

{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}

In [3]:
#3. Convert the first letter of each word in a string to uppercase (title case manually).

str = "Convert the first letter of each word in a string to uppercase"
str.title()

'Convert The First Letter Of Each Word In A String To Uppercase'

In [4]:
#4. Find the most frequently occurring character in a string.

def find_most_frequent_character(input_string):
    char_counts = {}
    for char in input_string:
        char_counts[char] = char_counts.get(char, 0) + 1

    if not char_counts:  # Handle empty string case
        return None

    max_frequency = 0
    most_frequent_char = ''

    for char, count in char_counts.items():
        if count > max_frequency:
            max_frequency = count
            most_frequent_char = char
      return most_frequent_char

IndentationError: unindent does not match any outer indentation level (<string>, line 18)

In [3]:
#5. Count digits, alphabets, and special characters separately in a string

str = (input())
alphabets = 0
digits = 0 
specical_char = 0

for i in str:
    if i.isalpha():
        alphabets =+ 1
    elif i.isdigit():
        digits += 1
    else:
        specical_char =+ 1
return(alphabets, digits, specical_char)

 gurpreet2120@#$

SyntaxError: 'return' outside function (741997405.py, line 15)

## 02. List

In [9]:
#6. Remove duplicate elements from a list without using set().

def remove_duplicates(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list
nums = [1, 2, 3, 2, 4, 1, 5, 3]
print(remove_duplicates(nums))

[1, 2, 3, 4, 5]

In [10]:
#7. Reverse a list without using built-in functions.                    


l1 = [1, 2, 3, 4, 5]
l1[::-1]
l1.sort(reverse=True)
print(l1)

[5, 4, 3, 2, 1]

In [14]:
#8. Find the 2nd largest and 2nd smallest element in a list.

nums = [10, 4, 7, 2, 9, 2, 10, 5]
my_set = set(nums)   #convert into set
my_list = list(my_set)  #back into list
print(my_list)
my_list.sort()
second_smallest = my_list[1]
print(second_smallest)
second_large = my_list[-1]
print(second_large)

2nd Smallest: 4
2nd Largest: 9

In [1]:
#9. Store the square of each element of a list into a new list (using list comprehension).


l2 = [1, 2, 3, 4, 5,6,7,8]
l2 = [i**2 for i in l2]
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64]

In [1]:
#10. Flatten a nested list into a single list.

l1= [[1,2], [3,4], [5,6]]
for i in l1:
    for j in i:
        list.append(i)
    print (l1)

TypeError: list.append() takes exactly one argument (0 given)

## 3. Tuple

In [18]:
# 11. Reverse a tuple without using [::-1].

l1 = ('p', 'y', 't', 'h', 'o', 'n')
rev = tuple(reversed(l1))
print(rev)

('n', 'o', 'h', 't', 'y', 'p')

In [1]:
#12. Extract unique elements from a tuple and store them in a new list.

t = (10, 20, 30, 20, 40, 10, 50)

unique_list = list(set(t))
print( unique_list)

[40, 10, 50, 20, 30]

In [16]:
#13. Concatenate two tuples and sort them.

t = (10, 20, 30, 40, 50)
u = (1,2,3,45,6)
x = t+u
s = set(x)
print(s)

{1, 2, 3, 6, 40, 10, 45, 50, 20, 30}

In [6]:
#14. Count the frequency of an element in a tuple without using count().

t = (1,2,3,2,3,2)
elem=2 
count = sum(1 for x in t if x ==elem)
print(count)

3

In [1]:
#15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers.
t = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
even = (i for i in t in i%2==0)
odd =  (i for i in t in i%2!=0)

NameError: name 'i' is not defined

## 4. SET

In [1]:
# 16. Perform union, intersection, and difference of two sets without using built-in operators.
# union
s1 = {1,2,3,4,5}
s2 = {2,4,6}

s1|s2

{1, 2, 3, 4, 5, 6}

In [4]:
# intersection
intersectio_set = []
for i in s1:
    for j in s2:
        if i == j:
            intersectio_set.append(i)
            print(intersectio_set)

[2]
[2, 4]

In [2]:
diff_set = []
for i in s1:
    for j in s2:
        if i != j:
            diff_set.append(i)
            print(diff_set)

[1]
[1, 1]
[1, 1, 1]
[1, 1, 1, 2]
[1, 1, 1, 2, 2]
[1, 1, 1, 2, 2, 3]
[1, 1, 1, 2, 2, 3, 3]
[1, 1, 1, 2, 2, 3, 3, 3]
[1, 1, 1, 2, 2, 3, 3, 3, 4]
[1, 1, 1, 2, 2, 3, 3, 3, 4, 4]
[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 5]
[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 5, 5]

In [13]:
#17. Remove a random element from a set (without using pop()).

s1.discard(2)

In [20]:
# 18. Convert a list into a set and check if duplicates are removed.

my_list = [1,2,3,4,2,3,1,4,5,7]
my_set = set(my_list)
print(my_set)
if my_list == my_set:
    print("duplicate not remove")
else:
    print("duplicate remove")

{1, 2, 3, 4, 5, 7}
duplicate remove

In [31]:
# 19. Check if two sets are disjoint.

A = {1,2}
B = {3,4}
A.isdisjoint(B)

True

In [2]:
# 20. Find the sum of all elements in a set.

s = {1,2,3,4}
total = sum(s)
print({total})

{10}

## 5. Dictionary (5 Questions)

In [23]:
#21. Create a dictionary and print keys in ascending order.


d1 = {"jan":31, "feb": 28, "march":31, "april":30}
for k in sorted (d1.keys()):
    print(k, d1[k])

april 30
feb 28
jan 31
march 31

In [24]:
# 22. Add a new key to a dictionary with value equal to the sum of existing values.

d1 = {"jan":31, "feb": 28, "march":31, "april":30}
d1["total"]= sum(d1.values())
print (d1)

{'jan': 31, 'feb': 28, 'march': 31, 'april': 30, 'total': 120}

In [25]:
#23. Merge two dictionaries into one.

d1 = {"jan":31, "feb": 28, "march":31, "april":30}
d2 = {"a":12,"b":23,"c":34,"d":45}
print(d1|d2)

{'jan': 31, 'feb': 28, 'march': 31, 'april': 30, 'a': 12, 'b': 23, 'c': 34, 'd': 45}

In [36]:
#24. Find the key with the largest value in a dictionary.

d = {"jan":34, "feb": 33, "march":33, "april":30}
a = max(d.items())
print(max(d, key=d.get))

jan

In [37]:
#25. Store the frequency of characters of a string in a dictionary.

s = 'banana'
freq = {ch: s.count(ch) for ch in set(s)}
print(freq)

{'b': 1, 'a': 3, 'n': 2}

## 6. Conditional Statements

In [45]:
#26. Take age as input and check if the person is eligible to vote or not.

age = int(input())

if age >= 18:
    print("eligible to vote")
else:
    print("not eligible ")

 15

not eligible

In [58]:
#27. Find the largest among three numbers (using nested if)..



num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 > num2:
    if num1> num3:
        print(num1, "is big")
else:
    if num2 > num3:
        print(num2, "is big")
    else:
        print(num3, "is big")

 12
 151
 3

151 is big

In [80]:
#28. Check if a given number is prime or not.


num = int(input("enter a number"))
for i in range (2,num):
    if num%i == 0:
        print(num, " is a not prime num")
        break
else:
    print(num," is a prime num")

enter a number 11

11  is a prime num

In [83]:
#29. Assign grade (A, B, C, Fail) based on marks input.

marks = int(input())
if marks < 85:
    print("A")
else:
    if marks < 65:
        print("B")
    else:
        if marks < 45:
            print("C")
        else:
            print("FAIL")

 75

A

In [6]:
#30. Check if a number is positive, negative, or zero.

num = int(input("enter the num."))
if num >=1:
    print(num,"is a positive number")
elif num == 0:
    print(num,"it is your furture ðŸ¤£")
else:
    print(num,"is a negative number")

enter the num. 0

0 it is your furture ðŸ¤£

## 7. Loops â€“ For & While

In [38]:
#31. Print the first 10 numbers of the Fibonacci series using for loop.

a,b = 0,1
for i in range (10):
    print(a, end=" ")
    a,b = b, a+b

0 1 1 2 3 5 8 13 21 34

In [39]:
#32. Find the factorial of a number using while loop.

from math import factorial
print(factorial(int(input())))

 55

12696403353658275925965100847566516959580321051449436762275840000000000000

In [40]:
#33. Input a number and find the sum of its digits using while loop.
n= int(input())
s = 0
while n>0:
    s+= n%10
    n//=10
print(s)

 12

3

In [41]:
#34. Print all elements of a list in reverse order without using reverse().


l1 = [1,2,3,4,5,6,7]
l1[::-1]
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [44]:
#35. Print a star pattern (triangle) using nested loops.

row = 5 
k= 0 

for i in range(1, row, 1):
    for j in range(k, 0, -1):
        k= k+1
        for j in range (0, i+1):
            print("*", end= " ")
        print()

## 8. File Handling

In [3]:
#36. Write some text into a file and then read and print it.


with open ("test.txt","w") as f:
    f.write("Print the first 10 numbers of the Fibonacci series using for loop.")
    f.close

In [14]:


#37. Count the total number of lines in a file.


with open("test.txt") as f:
    lines = f.readlines()
    print(len(lines))

3

In [23]:
#38. Count vowels and consonants in a file.



with open ("text.txt") as f:
    text= f.read().lower()
vowel = sum(ch in "aeiou" for ch in text)
consonants = sum(ch.isalpha() and ch not in "aeiou" for ch in text)
print(vowel, consonants)

7 24

In [15]:
#39. Convert the content of a file into uppercase and store it in another file

with open ("test.txt") as f:
    data = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(data)

In [17]:
#40. Read a CSV file and print its rows.

import csv
with open ("sample.csv", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        priint(row)

FileNotFoundError: [Errno 2] No such file or directory: 'sample.csv'

## 9. OS Module

In [1]:
import os

In [30]:
# 41. Print the current working directory using os modul

os.getcwd()

'C:\\Users\\HP\\CS_1.30_Batch\\python'

In [28]:
# 42. Create a new folder using os module and create a file inside it.

os.chdir("D:\\Desktop")
os.mkdir("new_folder")
os.chdir("D:\\Desktop\\new_folder")

In [30]:
%%writefile new_file.txt
!hello python

Writing new_file.txt

In [8]:
# 43. List all files and folders inside a directory.

os.chdir("D:\\Desktop")
os.listdir()

['desktop.ini',
 'Document',
 'Excel.lnk',
 'Harsh - Chrome (2).lnk',
 'Harsh - Chrome.lnk',
 'Jasmeet - Chrome.lnk',
 'Newfolder',
 'PowerPoint.lnk',
 'python',
 'Telegram.lnk',
 'Word.lnk']

In [18]:
# 44. Check the size of a file using os module.


file_path = "D:\\Desktop\\Newfolder" 
file_size_bytes = os.path.getsize(file_path)
print(file_size_bytes)

0

In [ ]:
http://localhost:8888/tree/CS_1.30_Batch/python

In [26]:
# 45. Count all .txt files in a directory.

os.listdir()

['desktop.ini',
 'Document',
 'Excel.lnk',
 'file1.txt',
 'file10.txt',
 'file2.txt',
 'file3.txt',
 'file4.txt',
 'file5.txt',
 'file6.txt',
 'file7.txt',
 'file8.txt',
 'file9.txt',
 'Harsh - Chrome (2).lnk',
 'Harsh - Chrome.lnk',
 'Jasmeet - Chrome.lnk',
 'Newfolder',
 'PowerPoint.lnk',
 'python',
 'Telegram.lnk',
 'Word.lnk']

In [27]:
for i in range(1, 11):
    with open(f'file{i}.txt', 'w') as f:
        f.write(f'This is file number {i}')

## 10. Try-Exception

In [7]:
# 46. Write a program that takes user input and prints its square. Handle errors if input is invalid.

try:
    user = int(input())
    num  = float(user)
    square = num ** 2
    print(square)
except ValueError:
    print("Invalid input. Please enter a valid number.")

 hello

Invalid input. Please enter a valid number.

In [8]:
# 47. Handle ZeroDivisionError with an example program.


try:
    x = int(input("Enter a number: "))
    y = 10 / x
    print(f"Result: {y}")
except ValueError:
    print("Invalid input. Please enter a valid integer.")
except ZeroDivisionError:
    print("Cannot divide by zero. Please enter a non-zero number.")
except Exception as e:
    print(f"Error occurred: {e}")

Enter a number:  0

Cannot divide by zero. Please enter a non-zero number.

In [14]:
# 48. Handle FileNotFoundError with an example program.

try:
    with open(filename, 'r')as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print(f"Error: The file '{filename}' was not found.")
    print("please ensure the file exists and the path is correct")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

An unexpected error occurred: name 'filename' is not defined

In [17]:
# 49. Handle both ValueError and TypeError with an example.

try:
    num = int(input())
    if num < 0:
        raise ValueError("input cannot be a negative number")
    print(f"Successfully processed number: {num}")

except (ValueError, TypeError) as e:
    print(f"an error occured: {e}")

 yy

an error occured: invalid literal for int() with base 10: 'yy'

In [19]:
# 50. Write a program with finally block that opens and closes a file

file_object = None  
try:
  
    file_object = open("example.txt", "w")
    file_object.write("This is a line written to the file.\n")
    file_object.write("Another line.\n")
    print("Content written to 'example.txt'")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
finally:
    # This block will always execute, regardless of whether an exception occurred
    if file_object:  # Check if the file object was successfully created
        file_object.close()
        print("File 'example.txt' has been closed.")
    else:
        print("File object was not created, nothing to close.")

Content written to 'example.txt'
File 'example.txt' has been closed.